<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
   <h1><%= title %></h1>
    <hr/>
     <nav>
        <ul>
            <li><a href="/">Página de Inicio</a></li>
            <li><a href="/quizes/question">Quiz</a></li>
            <li><a href="/author">Author</a></li>
        </ul>
    </nav>
    <div class="contenedor">
       <div class="left">
           <h3>Asi soy yo:</h3>
           <p>
               Nombre: J. Jesus Gonzalez
               Nacimiento: 1971
               Nacionalidad: Española
               Hobby: Todo sobre el mundo digital
               Profesion: Técnico en Electromecánica (Ejerciendo desde 1988)
           </p>
           <ol>
               <li><a href="https://twitter.com/pepetry"><img src="/images/twitter.svg" type=""/></a></li>
               <li><a href="https://github.com/JJesusGonzalez/quiz"><img src="/images/github.svg"/></a></li>
               <li><a href="https://www.youtube.com/user/pepetry"><img src="/images/youtube30.svg"/></a></li>
           </ol>
       </div>
       <div class="right">
           <img src="/images/photo.jpg"/>
       </div>
    </div>

    <footer><a href="https://github.com/JJesusGonzalez/quiz">Proyecto Quiz en GITHUB</a></footer>
  </body>
</html>
