<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
  	<p>El portal donde podrás crear tus propios juegos !</p>
  	<p><a href="/quizes/question"> Comencemos con el Juego</a></p>
  </body>
</html>
