body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url('../images/fondo1.png') repeat;
}
hr{
    background-color: #15c689;
    height: 10px;
}
nav{
    width:450px;
    margin: 30px auto;
}
nav ul li{
    list-style: none;
    display: inline-block;
    width:130px;
}
nav ul li a{
    text-decoration: none;
    color:#15c689;
    font-family: Arial;
    font-size: 2.1em;
}
.contenedor{
    width:1000px;
    height: auto;
    margin: 50px auto;
}
.contenedor p{
    font-family:monospace;
    font-size:1.5em;
}
.right img{
    width:100%;
    height: auto;
}
.right{
    width:300px;
    float: right;
}
.left{
    width:650px;
    float: left;
}

.left ol li{
    list-style: none;
    display: inline-block;
    width: 80px;
    margin-left:10px;
    margin-top:50px;
}
.left ol li a{
    text-decoration:none;
}
.left ol li a img{
    width:50px;
    border: 0;
}
footer{
    position:fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #15c689;
    height:1.5em;
    padding:5px;
}
footer a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: 1.1em;
}
